<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DB" value="Hegang.APP.Models.DataBase.impl.MySqlObject"/>
    <add key="DbService_0" value="Hegang.APP.Services.DbService.Impl.Ftsjgd_live"/>
    <add key="DbService_1" value="Hegang.APP.Services.DbService.Impl.Ftsjsggy_live"/>
    <add key="DbService_2" value="Hegang.APP.Services.DbService.Impl.Ftsjzt_live"/>
    <add key="DbService_3" value="Hegang.APP.Services.DbService.Impl.Fwd"/>
    <add key="DbService_4" value="Hegang.APP.Services.DbService.Impl.Fzd"/>
    <add key="DbService_5" value="Hegang.APP.Services.DbService.Impl.Fzzyl"/>
    <add key="DbService_6" value="Hegang.APP.Services.DbService.Impl.Mtsjgd_live"/>
    <add key="DbService_7" value="Hegang.APP.Services.DbService.Impl.Mtsjsggy_live"/>
    <add key="DbService_8" value="Hegang.APP.Services.DbService.Impl.Mtsjzt_live"/>
    <add key="DbService_9" value="Hegang.APP.Services.DbService.Impl.Mwd"/>
    <add key="DbService_10" value="Hegang.APP.Services.DbService.Impl.Mzd"/>
    <add key="DbService_11" value="Hegang.APP.Services.DbService.Impl.Mzzyl"/>
  </appSettings>
</configuration>